@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is where the future <a href="https://github.com/Leal-Daniel/PetSurveillanceBot">Surveillance Bot</a> will be live streamed.</p>
</div>
