html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.video-rectangle {
    justify-content: center;
    display: flex;
    width: 355px;
    height: 355px;
    background-color: #f0f0f0;
    margin-left: auto;
    margin-right: auto;
}

/* Media query for small screens */
    @media screen and (max-width: 480px) {
        .video-rectangle {
            max-height: 250px; /* Adjust maximum height for small screens */
            max-height: 270px; /* Adjust maximum height for small screens */
        }
    }